* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

.game-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button.restart {
    width: 100px;
    background-color: red;
    margin-top: 20px;
    border-radius: 8px;
    cursor: pointer;
    height: 30px;
}

button.restart:hover {
    background-color: hsl(0, 100%, 40%);
}

.board {
    display: grid;
    grid: repeat(3, 1fr) / repeat(3, 1fr);
    height: 300px;
    width: 300px;
    border: 2px solid black;
}


.box {
    cursor: pointer;
    font-size: 3em;
    background-color: transparent;
}

.intro-screen {
    border: 2px solid black;
    height: 100vh;
    width: 100vw;
    background-color: hsl(37, 100%, 47%);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-screen>form {
    display: flex;
    flex-direction: column;
    padding: 10px;
    text-align: center;
    gap: 10px;
}

form input {
    border: 3px solid black;
    background-color: transparent;
    border-radius: 8px;
    outline: none;
}

form input:hover {
    rotate: 0.5deg;
}

form button {
    padding: 5px;
    border: 3px solid black;
    border-radius: 8px;
    background-color: transparent;
    width: 100px;
    cursor: pointer;
    outline: none;
}

form button:hover {
    rotate: -5deg;
}

button[data-mark='X'] {
    color: blue;
}

button[data-mark='O'] {
    color: red;
}